.advatage__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  padding: 0 35px 34px;
  margin: 0;
}

.advatage__list {
  margin: 0;
  padding: 0;
}

.advatage__point {
  padding-left: 68px;
}

.advatage__description {
  background-color: @blue;
  padding-top: 37px;
  padding-bottom: 44px;

  &--road,
  &--area,
  &--tourists {
    background-color: @lightgrey;
  }

  &--road,
  &--tourists {
    padding-top: 0;
  }
}

.advatage__point-list {
  margin-top: 38px;
  margin-bottom: 38px;
}
