.advantage-text {
  text-align: center;
  color: @white;
}

.advantage-text__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding-top: 41px;
}

.advantage-text__number {
  font-size: 14px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 22px;
}

.advantage-text__intro {
  font-size: 14px;
  margin: 0;
}

@media (min-width: @tablet-width) {

  .advantage-text__title {
    padding-top: 0
  }
}
