.advatage-text__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.advatage-text__number {
  font-size: 14px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 22px;
}

.advatage-text__intro {
  font-size: 14px;
  margin: 0;
}
