.book__form {
  padding-top: 28px;
  padding-bottom: 50px;
  text-align: center;
}

.book__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.book__action {
  font-size: 14px;
  line-height: 24px;
  padding: 19px 20px 35px;
  margin: 0;
}

.book__write {
  .book__title;
}

.book__break {
  display: none;
}

@media (min-width: @tablet-width) {
  .book__form {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .book__title {
    font-size: 30px;
  }

  .book__action {
    padding: 32px 100px 41px;
  }

  .book__break {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .book__action {
    padding-right: 370px;
    padding-left: 370px;
    padding-bottom: 47px;
  }

  .book__form {
    padding-bottom: 67px;
  }
}
