.button {
  box-sizing: border-box;
  padding: 16px 46px 22px;
  background-color: @blue;
  color: @white;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .button {
    padding-left: 135px;
    padding-right: 135px;
  }
}
