.button {
  box-sizing: border-box;
  padding: 16px 47px;
  background-color: @blue;
  color: @white;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .button {
    padding-left: 135px;
    padding-right: 135px;
  }
}
