.copyright__text {
  font-size: 14px;
  line-height: 26px;
  padding-right: 12px;
}

.copyright__html-icon {
  fill: #000000;

  &:hover {
    fill: @blue;
  }

  &:active {
    fill: #b2b2b2;
  }
}

.copyright {
  display: flex;
  align-items: center;
  padding-right: 11px;
  padding-left: 11px;
}

@media (min-width: @tablet-width) {
  .copyright__html-icon {
    left: 4px;
  }
}
