.photo-view__title,
.photo-view__autor {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.photo-view__title,
.photo-view__like {
  font-weight: bold;
}

.photo-view__autor {
  text-transform: none;
  padding-bottom: 8px;
}

.photo-view__title {
  padding-top: 18px;
  padding-bottom: 4px;
}

.photo-view__like {
  margin: 0;
  padding-bottom: 22px;
}
