.photo-view__title,
.photo-view__autor {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.photo-view__title {
  font-weight: bold;
  padding-top: 15px;
}

.photo-view__like {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 17px;
  padding-left: 36px;
  position: relative;
}

.photo-view__autor {
  text-transform: none;
  padding-bottom: 10px;
}

.photo-view__img {
  height: auto;
  min-width: 280px;

  &--sunset,
  &--flora,
  &--road,
  &--bridge {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.photo-view__caption {
  margin-left: 20px;
  margin-right: 20px;
}

.photo-view__like-icon {
  position: absolute;
  top: -3px;
  left: 0;
  right: auto;

  fill: #b2b2b2;
}

@media (min-width: @tablet-width) {
  .photo-view__img--sunset {
    height: auto;
    min-width: 648px;
  }

  .photo-view__caption {
    background-color: #f2f2f2;
    display: flex;
    padding: 16px 20px;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .photo-view__caption-autor {
    width: 87%;

    &--first-child {
      width: 95%;
    }
  }

  .photo-view__like {
    width: 13%;
    padding-bottom: 0;
    padding-left: 33px;

    &--first-child {
      width: 5%;
    }
  }

  .photo-view__title {
    padding: 0;
  }

  .photo-view__autor {
    padding: 0;
  }

  .photo-view__img {
    &--flora,
    &--road,
    &--bridge {
      min-width: 324px;
      height: auto;
    }

    &--sunset,
    &--flora,
    &--road,
    &--bridge {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-view {
    position: relative;
  }

  .photo-view__img {
    &--sunset {
      height: auto;
      min-width: 1200px;
    }

    &--flora,
    &--road,
    &--bridge {
      min-width: 400px;
      height: auto;
    }
  }

  .photo-view__caption {
    color: @white;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -80px;
    padding: 16px 20px;
    position: absolute;
    left: 0;
    right: 0;
  }

  .photo-view__like-icon {
    fill: #ffffff;
  }

  .photo-view__caption-autor {
    width: 90%;

    &--first-child {
      width: 97%;
    }
  }

  .photo-view__like {
    width: 10%;

    &--first-child {
      width: 3%;
    }
  }
}
