.point-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.point-list__text {
  padding-top: 25px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  &--house,
  &--food {
    padding-right: 20px;
  }
}

@media (min-width: @tablet-width) {
  .point-list__text {
    &--house,
    &--food {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .point-list__text--souvenir {
    padding-left: 50px;
    padding-right: 50px;
  }
}
