.point-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  position: relative;
  fill: @blue;

  &--house-icon {
    position: absolute;
    top: -5px;
    left: -47px;
    right: auto;
  }

  &--souvenir-icon {
    position: absolute;
    top: -11px;
    left: -47px;
    right: auto;
  }

  &--food-icon {
    position: absolute;
    top: -6px;
    left: -50px;
    right: auto;
  }

  &--house {
    padding-top: 4px;
  }
}

.point-list__text {
  padding-top: 13px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  &--house,
  &--food {
    padding-right: 20px;
  }
}

.point-list__break {
  display: none;
}

@media (min-width: @tablet-width) {
  .point-list__text {
    padding-top: 20px;

    &--house {
      padding-left: 0;
      padding-right: 0;
    }

    &--food {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .point-list__title {
    font-size: 21px;

    &--house-icon,
    &--souvenir-icon,
    &--food-icon {
      position: absolute;
      top: -102px;
      left: 42px;
      right: auto;
      width: 76px;
      height: 74px;
    }

    &--house {
      padding-top: 0;
    }
  }

  .point-list__break {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .point-list__text--souvenir {
    padding-left: 40px;
    padding-right: 40px;
  }

  .point-list__title {
    &--house-icon,
    &--souvenir-icon,
    &--food-icon {
      left: 109px;
    }
  }
}
