.site-list__item {
  font-size: 18px;
  line-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;
  font-weight: bold;
}

.site-list__item--logo {
  height: 56px;
  // background-color: @white;
  background-image: url(../../img/logo-sedona-mobile.svg);
  background-size: 102px 85px;
  background-position: center;

  background-repeat: no-repeat;
}

.site-list__item a {
  color: @white;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
  }

  .site-list__item a {
    color: #000000;
  }

  .site-list__item:nth-child(3) {
    order: 1;
  }

  .site-list__item:nth-child(4) {
    order: 1;
  }

  .site-list__item--logo {
    height: 56px;
    background-image: url(../../img/logo-sedona-tablet.svg);
    background-size: 102px 83px;
  }


}

@media (min-width: @desktop-width) {
  .site-list__item--logo {
    background-image: url(../../img/logo-sedona-desktop.svg);
    background-size: 188px 96px;
  }
}
