body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: white;
  text-transform: uppercase;
  color: black;
  width: 320px;
}

a {
  text-decoration: none
}

li {
  list-style: none;
}

@import "page-header.less";
@import "visually-hidden.less";
@import "description.less";
@import "advantage.less";
@import "book.less";
@import "page-footer.less";
@import "photo.less";
